@import "tailwindcss";

:root {
  --bg-main: #b8d9dc;
  --card-bg: #f3fafa;
  --card-border: #183939;
  --text-main: #1f2933;
  --font-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-heading: "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-body);
  margin: 0;
  min-width: 320px;
  background: var(--bg-main);
}

h1, h2, h3 {
    font-family: var(--font-heading);
  }
